/* Global Layout Set-up */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Mukta Malar', sans-serif;
  color: #222;
  background: #fff;
}

h1{
  color: #173191;
}
/* Image slider */
.slider-div{
  margin-top: 10%;
  margin-left: -24%;

}

.images-div{
  float: left;
  width: 65%;
  border: solid 1px red;
}

.text-div{
  float: right;
  width: 30%;
  margin-right: 5%;
}

.slider-image {
  border-radius: 5%;
  float: left;
  margin-right: 1%;
  margin-top: 1%;
}

.arrow{
  padding:3%;
  float: left;
  margin-top: 1%;
  margin-right: 1%;
  border-radius: 10%;
}

.arrow-blue{
  border: solid 1px #134880;
}

.arrow-gray{
  border: solid 1px #DDDDDD;
}
